<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808023488045-oaimdl0dhnoboe2hu18a14cp16s8sfrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808023488045-oaimdl0dhnoboe2hu18a14cp16s8sfrk</string>
	<key>API_KEY</key>
	<string>AIzaSyAt3KN03RAxKpHvo0VfwIqP5aabV4pqCB4</string>
	<key>GCM_SENDER_ID</key>
	<string>808023488045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudHomework</string>
	<key>PROJECT_ID</key>
	<string>curdapp-33321</string>
	<key>STORAGE_BUCKET</key>
	<string>curdapp-33321.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808023488045:ios:9ee4121ce10ab049a1aaa4</string>
</dict>
</plist>